html {
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.radial-gradient {
  background: radial-gradient(circle at right top, #4ecca3 0, #232931 50vw);
}

.dropShadow {
  filter: drop-shadow(4px 1px 15px #000000d5);
}

@font-face {
  font-family: 'FontBold';
  src: local('YourFontName'), url('fonts/SpoofTrial-Regular.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ai4sportsFont';
  src: local('YourFontName'), url('fonts/solitas-normal-medium.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body{
  font-family: 'FontBold', sans-serif;
}

.ai4sports-font{
  font-family: 'ai4sportsFont', sans-serif;

}

.bg-pattern{
  background-image: url(/src/assets/largeBg1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-bg-pattern{
  background-image: url(/src/assets/about-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg-pattern{
  background-image: url(/src/assets/cardBg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-pattern-reverse{
  background-image: url(/src/assets/reverseBg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-bg {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(15px);
}


