.radial-gradient {
  background: radial-gradient(circle at right top, #4ecca3 0, #232931 50vw);
}

.dropShadow {
  filter: drop-shadow(4px 1px 15px #000000d5);
}

.bg{
  background-image: url(/src/bg.svg);
  background-position: center;
}